@font-face {
  font-family: "iconfont"; /* Project id 4244010 */
  src: url('iconfont.woff2?t=1694180533858') format('woff2'),
       url('iconfont.woff?t=1694180533858') format('woff'),
       url('iconfont.ttf?t=1694180533858') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xingbie:before {
  content: "\e7f8";
}

.icon-keaide:before {
  content: "\e600";
}

.icon-dianhua:before {
  content: "\e601";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-minzu:before {
  content: "\e64a";
}

.icon-gongzuonianxian:before {
  content: "\e60b";
}

.icon-celiang:before {
  content: "\e604";
}

.icon-nianling:before {
  content: "\e69d";
}

.icon-position:before {
  content: "\e60c";
}

.icon-18:before {
  content: "\e616";
}

.icon-zhengzhi:before {
  content: "\e6e9";
}

