@use "mixins/mixins.scss" as *;
@use "var/var.scss" as *;

@include b(override) {
  @include m("el-input") {
    & .el-input {
      --el-input-bg-color: #{$input-item-bg-color};
      --el-input-width: 180px;
      --el-input-border-color: transparent;
      --el-date-editor-width: 100px;
    }
    
  }
}

.el-checkbox {
  margin-left: 8px;
  vertical-align: middle;
}
