@use "../mixins/mixins.scss" as *;
@use "../var/var.scss" as *;

/*
  覆盖 element-plus 默认样式
*/
@include b("override") {
  @include e("element") {
    @include m("plus") {
      .el-input {
        --el-input-width: 180px;
        --el-date-editor-width: 100px;
      }
      .el-checkbox {
        margin-left: 8px;
        vertical-align: middle;
      }
    }
  }
}

/*
  覆盖 quill snow 默认样式
*/

@include b("override") {
  @include e("quill") {
    @include m("snow") {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      border-radius: 10px;
      border: 1px solid #ddd;
      overflow: hidden; //用于避免内部元素覆盖圆角边框
      background-color: $input-item-bg-color;
      &:hover,
      &:focus-within {
        //内部元素获取焦点时，改变边框颜色
        border-color: #409eff;
      }
      .ql-container {
        flex: 1;
        overflow-y: auto;
        padding-bottom: 1em; //滚动条总是不能够触底,因此需要设置该样式，以使最后一行的输入能够完全显示
      }

      .ql-container.ql-snow {
        //.ql-snow用于提升优先级
        border: none; //覆盖默认边框，避免双重边框
      }
      .ql-editor {
        border-top: 1px solid #ddd; //为toolbar 与 editor 之间添加上边界，以更好的对它们进行区分
        min-height: 130px;
        &.ql-blank::before {
          font-style: normal; //默认样式的 placeholder 部分是倾斜的，覆盖它，使其不再倾斜
        }
        ul,
        ol {
          padding-left: 0;
        }
      }

      .ql-snow {
        &.ql-toolbar {
          border: none;
          background-color: #f8f8f8;
          padding: 4px 8px;
          &:after {
            color: #999;
            padding: 0 9px;
            display: inline-block;
            vertical-align: middle;
            content: "功能提示：使用工具栏之前，需要先选中输入框文字";
          }
        }
        .ql-picker.ql-size {
          .ql-picker-label::before {
            content: "字体大小";
          }
          .ql-picker-item[data-value="small"]::before {
            content: "小号";
          }
          .ql-picker-item::before {
            content: "默认";
          }
          .ql-picker-item[data-value="large"]::before {
            content: "大号";
          }
          .ql-picker-item[data-value="huge"]::before {
            content: "超大号";
          }
        }
      }
    }
    /*
      专用于 ReadOnlyRichText
    */
    @include m("read-only") {
      .ql-container.ql-snow {
        border: none;
      }
      .ql-editor {
        padding: 0;
        ul,
        ol {
          padding-left: 0;
        }
      }
    }
  }
}
