@use "../mixins/mixins.scss" as *;

$move_color: #13d8a7;
$delete_color: #ff755d;

@include b(button) {
  width: 98px;
  height: 28px;
  margin-top: 20px;
  border-radius: 14px;
  background-color: #fff;
  cursor: pointer;
  @include m(delete) {
    border: 1px solid $delete_color;
    color: $delete_color;
    &:hover {
      background-color: $delete_color;
      color: #fff;
    }
    &:focus-visible {
      outline: 2px solid $delete_color;
      outline-offset: 1px;
    }
  }
  @include m(move) {
    border: 1px solid $move_color;
    color: $move_color;
    &:hover {
      background-color: $move_color;
      color: #fff;
    }
    &:focus-visible {
      outline: 2px solid $move_color;
      outline-offset: 1px;
    }
  }
}
