@use "../mixins/mixins.scss" as *;
@use "../var/var.scss" as *;
@use "sass:math";
$move_color: #13d8a7;
$delete_color: #ff755d;

@include b(button) {
  width: 98px;
  height: 28px;
  margin-top: 20px;
  border-radius: 14px;
  background-color: #fff;
  cursor: pointer;
  @include m(delete) {
    border: 1px solid $delete_color;
    color: $delete_color;
    &:hover {
      background-color: $delete_color;
      color: #fff;
    }
    &:focus-visible {
      outline: 2px solid $delete_color;
      outline-offset: 1px;
    }
  }
  @include m(move) {
    border: 1px solid $move_color;
    color: $move_color;
    &:hover {
      background-color: $move_color;
      color: #fff;
    }
    &:focus-visible {
      outline: 2px solid $move_color;
      outline-offset: 1px;
    }
  }
  @include m(file) {
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
    line-height: $item_height;
    font-size: 12px;
    text-align: center;
    border-radius: math.div($item_height, 2);
    vertical-align: top;
    cursor: pointer;
    background-color: $move_color;
    color: #fff;
    input {
      width: 0;
      height: 0;
      opacity: 0;
      border: none;
    }
    &:focus-within {
      outline: 2px solid $move_color;
      outline-offset: 1px;
    }
  }
}
