@use "../mixins/mixins.scss" as *;

@include b("border") {
  @include e("b") {
    @include m("dashed") {
      border-bottom: 1px dashed #ffc69f;
    }
  }
}

@include b("grid") {
  @include e("auto") {
    @include m("center") {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
      justify-items: center;
    }
  }
}
