@use "../../styles";

@include b(edit) {
  @include e(li) {
    min-width: 295px;
    margin-bottom: 15px;
  }
  @include e(label) {
    display: inline-block;
    vertical-align: top;
    min-width: 65px;
    line-height: $item_height;
    text-align: right;
    padding-right: 10px;
  }
  @include e(input) {
    box-sizing: border-box;
    border: none;
    padding: 0 15px;
    outline: none;
    width: 180px;
    background-color: #f3f4f6;
    border: 1px solid #f0f4f6;
    border-radius: 3px;
    height: $item_height;
    line-height: $item_height;
    font-size: 13px;
    color: #606266;
  }
}
