@use "../mixins/mixins.scss" as *;

@include b("edit-input-item") {
  @include e(li) {
    @apply min-w-[18.5rem] mb-4;
  }
  @include e(label) {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    @apply pr-3 leading-8 min-w-[4rem];
  }
  @include e(input) {
    outline: none;
    background-color: white;
    border: 1px solid #dcdfe6;
    color: #606266;
    @apply h-8 leading-8 rounded w-[11.25rem] px-2;
    &:hover {
      border-color: #c0c4cc;
    }
    &:focus {
      border-color: #409eff;
    }
    &.w60 {
      @apply w-[3.75rem];
    }
    &.ml20 {
      @apply mt-5;
    }
  }
}
