@use "../mixins/mixins.scss" as *;
@use "../var/var.scss" as *;

@include b("edit-input-item") {
  @include e(li) {
    min-width: 295px;
    margin-bottom: 15px;
  }
  @include e(label) {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    min-width: 65px;
    line-height: $item_height;
    text-align: left;
    padding-right: 10px;
  }
  @include e(input) {
    box-sizing: border-box;
    padding: 0 10px;
    outline: none;
    width: 180px;
    background-color: $input-item-bg-color;
    border: 1px solid $input-item-bg-color;
    border-radius: 3px;
    height: $item_height;
    line-height: $item_height;
    color: #606266;
    &:focus {
      box-shadow: 0 0 0 1px var(--el-color-primary) inset;
    }
    &.w60 {
      width: 60px;
    }
    &.ml20 {
      margin-left: 20px;
    }
  }
}
