@font-face {
  font-family: "icon-font-common"; /* Project id 4265679 */
  src:
    url("iconfont.woff2?t=1697721048879") format("woff2"),
    url("iconfont.woff?t=1697721048879") format("woff"),
    url("iconfont.ttf?t=1697721048879") format("truetype");
}

.icon-font-common {
  font-family: "icon-font-common" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-common-template:before {
  content: "\e60e";
}

.icon-common-cover:before {
  content: "\ea9e";
}

.icon-common-dextrorotation:before {
  content: "\e720";
}

.icon-common-levorotation:before {
  content: "\e722";
}

.icon-common-download:before {
  content: "\e613";
}

.icon-common-envelope:before {
  content: "\e69e";
}

.icon-common-user:before {
  content: "\e63f";
}

.icon-common-font:before {
  content: "\e6db";
}

.icon-common-skin:before {
  content: "\e654";
}

.icon-common-line-padding:before {
  content: "\e622";
}

.icon-common-vitae:before {
  content: "\e662";
}
